:root {
  /*
    Theme setup

    - Light by default; will follow system preference
    - Initializing a theme variable for future use with style queries
    - Set theme variable based on theme overrides (in the future)
  */
  color-scheme: light dark;

  --theme: light;

  @media (prefers-color-scheme: dark) {
    --theme: dark;
  }

  /* Have data-theme use the variable */
  &[data-theme] {
    color-scheme: var(--theme);
  }

  &[data-theme="light"] {
    --theme: light;
  }

  &[data-theme="dark"] {
    --theme: dark;
  }

  /* Token definitions */

  /* Structural spacing & measurements */

  --gutter: var(--space-m);
  --nav-padding: var(--gutter);
  --footer-padding: var(--gutter);
  --prose-max-width: 70ch;

  /* Colors */

  --color-accent: light-dark(var(--color-clay-500), var(--color-clay-400));
  --color-accent-on-dark: var(--color-clay-400);

  --color-bg: light-dark(var(--color-neutral-50), var(--color-charcoal-950));
  --color-surface: light-dark(
    var(--color-neutral-100),
    var(--color-neutral-900)
  );
  --color-border: light-dark(
    var(--color-neutral-300),
    var(--color-charcoal-700)
  );
  --color-footer-bg: var(--color-charcoal-950);

  /* Typography colors */

  --color-text: light-dark(var(--color-charcoal-900), var(--color-neutral-300));
  --color-link-active: var(--color-accent);
  --color-footer-text: var(--color-neutral-50);

  /* Interaction colors */
  --focus-color: var(--color-accent);
  --selection-text-color: light-dark(
    var(--color-charcoal-50),
    var(--color-charcoal-900)
  );
  --selection-background: light-dark(
    var(--color-charcoal-900),
    var(--color-charcoal-100)
  );
  --shadow-base: var(--shadow-light);
  --shadow-lifted: var(--shadow-dark);

  /* Typography */
  --font-display: var(--font-Fraunces);
  --font-body: var(--font-Epilogue);
  --font-code: var(--font-Fira);

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  --font-size-extra-small: var(--size-step-000);
  --font-size-small: var(--size-step-00);
  --font-size-subtle: var(--size-step-0);
  --font-size-base: var(--size-step-1);
  --font-size-h1: var(--size-step-6);
  --font-size-h2: var(--size-step-4);
  --font-size-h3: var(--size-step-4);
  --font-size-h4: var(--size-step-3);
  --font-size-h5: var(--size-step-2);
  --font-size-h6: var(--size-step-1);
}
