---
import Page from "../components/Page.astro";
---

<Page
  pageTitle="Collections | Brad Azevedo"
  pageDescription="A collection of fine things that Brad Azevedo consumes, from podcasts, to books, to food."
>
  <h1>Collections</h1>

  <hr />

  <p>TODO!</p>
</Page>
