---
import Page from "../components/Page.astro";
---

<Page
  pageTitle="Now | Brad Azevedo"
  pageDescription="What’s Brad Azevedo up to these days?"
>
  <h1>Now</h1>

  <hr />

  <h2>2026</h2>

  <ol reversed>
    <li>
      Launched <a href="https://jamesbuttonoboe.com/" rel="external noopener"
        >jamesbuttonoboe.com</a
      > — a website for my partner and brilliant oboist, James Button.
    </li>
  </ol>

  <h2>2025</h2>

  <ol reversed>
    <li>
      Diving into all the latest and greatest in CSS. There's so much to explore
      with new selectors, layout options, container queries, theme support, and
      more.
    </li>
  </ol>
</Page>

<style>
  ol {
    list-style-type: disc;
  }
</style>
