---
import { Image } from "astro:assets";
import avatar from "../assets/brad-azevedo.jpg";
import Page from "../components/Page.astro";
---

<Page
  pageTitle="About me | Brad Azevedo"
  pageDescription="A bit about Brad Azevedo, a front-end web developer from San Francisco powered by dachshunds and espresso."
  class="about"
>
  <header class="header">
    <h1>About me</h1>

    <figure class="figure">
      <Image
        src={avatar}
        alt="Brad Azevedo against a blue background"
        height={300}
        width={300}
        class="avatar"
        priority
      />
      <figcaption class="caption">Beaming in blue</figcaption>
    </figure>
  </header>

  <hr />

  <h2>Work things</h2>

  <p>
    I’m a self-taught front-end developer from San Francisco and have been
    pushing pixels since 2006—the era of IE6, floats, and clearfixes.
  </p>

  <p>
    The “front-end” has annexed much of the development ecosystem. I’ve wandered
    much of it, but I keep coming back to my core interest: <strong
      >building thoughtful, playful web experiences without gimmicks</strong
    >.
  </p>

  <p>
    Am I a “design engineer,” a “design systems engineer,” a “UI engineer,” or
    just a “front-end developer?” Yes. Whatever we call it, my sweet spot is in
    the front of the front-end.
  </p>

  <p>
    I love partnering with designers and engineers to think through UX and UI
    architecture. I can’t help but think in design systems and will build one
    into even the silliest of projects (like this one).
  </p>

  <p>
    My design sensibility favors simplicity, performance, and accessibility over
    bells and whistles (read: parallax, scroll jacking, gratuitous animations).
    My coding sensibility is no different, favoring clarity over cleverness.
  </p>

  <p>
    All evidence to the contrary, I love writing and code is just another form
    of prose to me. At Gusto, I handled the technical writing for our Design
    System documentation and authored the team’s company-wide newsletter.
  </p>

  <h2>Personal things</h2>

  <p>
    I grew up in a small farming community in Northern California and relocated
    to San Francisco when I quickly discovered—as a child—that farm life was not
    for me. I’m the first person in my family to graduate college.
  </p>

  <p>
    I’ve lived here for more than 20 years and have now seen three boom-bust
    cycles.
  </p>

  <p>
    I work on the web, but I’m not much of an “online” person. I don’t maintain
    a presence on or follow social media. I prefer to spend my spare time living
    life off the screen.
  </p>

  <p>
    I’m passionate about travel and observing other ways of life. I have been
    fortunate to visit more than 25 countries, to study abroad in Paris, and to
    spend a couple of years living in Melbourne, Australia. My experiences
    abroad have informed the way I live my life and taught me that America is
    not the center of the universe.
  </p>

  <p>
    You’ll typically find me at CrossFit, running, cycling, hiking, or scuba
    diving. You probably won’t find me on the couch if the sun is shining. I’ve
    ridden cycling tours in France, Spain, South Africa, and Thailand and have
    biked from San Francisco to Los Angeles twice.
  </p>

  <p>
    I’m a major aviation geek and am an instrument-rated private pilot
    and—oddly—a certificated ground instructor. I’m a regular plane spotter at
    <abbr title="San Francisco International Airport">SFO</abbr>.
  </p>

  <p>
    In direct contrast to the previous statement, I love the planet and do
    everything I can to live with a minimal footprint.
  </p>
</Page>

<style>
  .header {
    position: relative;
  }

  .figure {
    background: var(--color-surface);
    padding: var(--space-xs);
    border-radius: calc(var(--radius-s) + var(--space-xs));
    margin-block-start: var(--gutter);

    @media (width >= 40rem) {
      position: absolute;
      right: 2rem;
      top: -2rem;
      transform: rotate(3deg);
      margin-block-start: 0;
    }
  }

  .about {
    @media (width >= 72rem) {
      --prose-width: 60%;
    }

    @media (width >= 84rem) {
      --prose-width: var(--prose-max-width);
    }
  }

  .caption {
    font-size: var(--font-size-small);
    margin-top: var(--space-xs);
    text-align: center;

    @media (width >= 40rem) {
      display: none;
    }

    @media (width >= 84rem) {
      display: block;
    }
  }

  .avatar {
    border-radius: var(--radius-s);
    aspect-ratio: 1;
    transition:
      width var(--transition-base),
      height var(--transition-base);

    @media (width >= 40rem) {
      height: 150px;
      width: 150px;
    }

    @media (width >= 72rem) {
      height: 300px;
      width: 300px;
    }

    @media (width >= 84rem) {
      height: 300px;
      width: 300px;
    }
  }
</style>
