---
import Layout from "../layouts/Layout.astro";
---

<Layout
  pageTitle="Brad Azevedo | Front-end web developer"
  pageDescription="I build the front of the front-end. San Francisco--based engineer specializing in UI architecture, design systems, and interfaces done properly."
  class="flow prose wrapper"
>
  <header class="header flow">
    <strong class="subhead hello">Hello</strong>
    <h1 class="headline">I’m Brad Azevedo.<br />I build web interfaces.</h1>
  </header>

  <p>
    The web is a pretty cool place, but it’s becoming less personal every day.
    I’m here to bring a sense of personality, class, and <em
      class="class-emphasis">sass</em
    > to an increasingly templatized world.
  </p>

  <aside class="an-aside flow">
    <strong class="subhead">Powered by</strong>

    <ul class="powered-by">
      <li>Oxford commas</li>
      <li>Dachshunds</li>
      <li>Espresso</li>
      <li>Airplanes</li>
      <li>Nature</li>
    </ul>
  </aside>
</Layout>

<style>
  .wrapper {
    --flow-space: var(--space-l);
  }

  .headline {
    font-family: var(--font-display);
    font-size: var(--size-step-7);
    --flow-space: var(--space-xs);
  }

  .hello {
    @media (prefers-reduced-motion: no-preference) {
      cursor: pointer;
      transition:
        font-weight var(--transition-base),
        font-size var(--transition-base);

      &:hover {
        font-size: 2.5em;
        font-weight: var(--font-weight-bold);
      }
    }
  }

  .subhead {
    line-height: var(--leading-flat);
    color: var(--color-accent);
    font-family: var(--font-Epilogue);
    font-weight: var(--font-weight-semi-bold);
    display: block;
  }

  .class-emphasis {
    font-family: var(--font-display);
  }

  .powered-by {
    --flow-space: var(--space-xs);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter);
    font-size: var(--font-size-subtle);

    li {
      padding: var(--space-xs);
      background-color: var(--color-surface);
      border-radius: var(--radius-s);
    }
  }
</style>
