<footer class="footer content-grid">
  <div class="footer-wrap">
    <div>
      <strong class="footer-logo">Brad Azevedo<span class="dot">.</span></strong
      >
      <p class="text">
        Bravely hand-coded in San Francisco without JavaScript.
      </p>
    </div>
    <ul class="socials flow">
      <li>
        <a href="mailto:brad2k@gmail.com" rel="external noopener">Email</a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/bradazevedo/"
          rel="external noopener">LinkedIn</a
        >
      </li>
      <li>
        <a href="https://github.com/brad2k/" rel="external noopener">GitHub</a>
      </li>
    </ul>
  </div>
</footer>

<style>
  .footer {
    font-size: var(--size-step-00);
    background-color: var(--color-footer-bg);
    color: var(--color-footer-text);
    padding-block: var(--footer-padding);

    a {
      color: currentColor;
      text-decoration: none;
    }
  }

  .socials {
    --flow-space: var(--space-xs);
  }

  .footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gutter);
  }

  .footer-logo {
    font-family: var(--font-display);
    font-size: var(--font-size-base);
    color: var(--color-accent-on-dark);
  }
</style>
