<footer class="footer content-grid">
  <div class="footer-wrap">
    <div>
      <strong class="footer-logo">Brad Azevedo<span class="dot">.</span></strong
      >
      <p class="text">
        Bravely hand-coded in San Francisco without JavaScript.
      </p>
    </div>

    <nav class="nav">
      <h3 class="heading">Browse</h3>
      <ul class="links flow">
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/colophon/">Colophon</a>
        </li>
        <li>
          <a href="/resume/">Resum&eacute;</a>
        </li>
      </ul>

      <h3 class="heading">Connect</h3>
      <ul class="links flow">
        <li>
          <a href="mailto:brad2k@gmail.com" rel="external noopener">Email</a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/bradazevedo/"
            rel="external noopener">LinkedIn</a
          >
        </li>
        <li>
          <a href="https://github.com/brad2k/" rel="external noopener">GitHub</a
          >
        </li>
      </ul>
    </nav>
  </div>
</footer>

<style>
  .footer {
    font-size: var(--font-size-small);
    background-color: var(--color-footer-bg);
    color: var(--color-footer-text);
    padding-block: var(--footer-padding);

    a {
      color: currentColor;
      text-decoration: none;
    }
  }

  .footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: var(--gutter);
  }

  .footer-logo {
    font-family: var(--font-display);
    font-size: var(--font-size-base);
    color: var(--color-accent-on-dark);
  }

  .nav {
    display: grid;
    column-gap: var(--space-l);
    row-gap: var(--space-s);
    grid-template-columns: 1fr 1fr;
  }

  .heading {
    font-size: var(--font-size-subtle);
    grid-row: 1 / 2;
    color: var(--color-accent-on-dark);
    font-weight: 600;
  }

  .links {
    --flow-space: var(--space-xs);
  }
</style>
