---
import type { HTMLAttributes } from "astro/types";
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Nav from "../components/Nav.astro";
import "../styles/imports.css";

export interface Props extends HTMLAttributes<"main"> {
  pageTitle: string;
  pageDescription: string;
}

const { class: className, pageTitle, pageDescription, ...rest } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head pageTitle={pageTitle} pageDescription={pageDescription}>
    <slot name="head" slot="head" />
  </Head>
  <body>
    <Nav />
    <main class:list={["content-grid", className]} {...rest}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
